// PADRÃO DE CORES DO WEBSITE

// PADRÕES
color-1 = #101d48
color-2 = #d8157d
color-3 = #dd5632
color-4 = #2acfc1

// EXTRAS
contrast = white
contrastInside = #743ad0

@font-face
  font-family "Proxima Nova"
  src url('../fonts/Proxima Nova Extrabold.otf')
  font-weight bold

@font-face
  font-family "Proxima Nova"
  src url('../fonts/Proxima Nova Light.otf')

*
  margin 0px
  padding 0px
  box-sizing border-box

body
  font-size 18px
  margin 0px
  padding 0px
  font-family "Proxima Nova"

section
  height 100vh
  width 100%
  overflow hidden
  display flex
  align-items center
  flex-direction column

a
  text-decoration none
  color contrast

header
  display flex
  justify-content center
  #top
    position fixed
    padding 20px
    nav
      padding 20px
      ul
        display flex
        list-style none
        justify-content space-between
        li
          a:hover
            border-bottom 2px solid contrast
          .btn-contrast:hover
            color contrastInsident

main
  #inicio
    background url('../images/top-bg.png') fixed no-repeat 0 0
    background-size 100% 100%

@media only screen and (max-width 1000px)
  header
    display flex
    justify-content center
    #top
      position fixed
      padding 20px
      nav
        padding 20px
        ul
          display flex
          list-style none
          justify-content space-between
          flex-direction column
          li
            padding 5px;
            margin 5px;
            text-align center

//  BOTÕES
.btn
  padding 10px 20px 10px 20px
  border-radius 20px
  transition all 0.6s ease

.btn-contrast
  border 2px solid contrast
  color contrast

.btn-contrast:hover
  background-color contrast
  color contrastInside

.btn-contrast-full
  border 2px solid contrast
  background-color contrast
  color contrastInside

.btn-contrast-full:hover
  background-color transparent

.title:before
  content "//"

.circle
  border-radius 50%
  z-index -1
  background-color transparent

#equipe
  .circle
    border 3px solid color-4
    width 60%
    position relative
    height 100%
    top -60px
