// PADRÃO DE CORES DO WEBSITE

// PADRÕES
color-1 = #101d48
color-2 = #d8157d
color-3 = #dd5632
color-4 = #2acfc1
contrastInside = #743ad0
color-5 = #e2e2e2
color-6 = #999999
contrast = #f5f5f5

// KEYFRAMES
@keyframes lineGrowFX {
  from {
    width 0px;
  }
  to {
    width 100px;
  }
}

@keyframes appear {
  from {
    margin-top 20px
    opacity 0
  }
  to {
    margin-top 0px
    opacity 1
  }
}

@keyframes pulse {
  from {
    opacity 0
    width 0
    height 0
  }
  to {
    height: 120vh;
    width 65%
    opacity .7
  }
}

@keyframes appear-out {
  from {
    margin-top 0px
    opacity 1
  }
  to {
    margin-top 20px
    opacity 0
  }
}

// FONTS
@font-face
  font-family "Proxima Nova"
  src url('../fonts/Proxima Nova Bold.ttf')
  font-weight bold

@font-face
  font-family "Proxima Nova"
  src url('../fonts/Proxima Nova Extrabold.ttf')
  font-weight bolder

@font-face
  font-family "Proxima Nova"
  src url('../fonts/Proxima Nova Light.otf')

*
  margin 0px
  padding 0px
  box-sizing border-box

body
  font-size 16px
  margin 0px
  padding 0px
  font-family "Proxima Nova"

section
  height 100vh
  width 100%
  overflow hidden
  padding-top 100px
  display flex
  align-items center
  flex-direction column

a
  text-decoration none

header
  display flex
  justify-content center
  #top
    position fixed
    padding 20px
    padding-top 40px
    z-index 20
    transition all 1s ease
    .container
      padding 2px
    nav
      padding 20px
      ul
        display flex
        list-style none
        justify-content space-between
        li
          &:hover
            a
              font-weight bold
          a
            color contrast
            transition border 1s color 1s
          .btn-contrast-full
            &:hover
              background-color contrast
              color color-2

section
  .divisor
    display block
    .l1
      border-radius 5px
      display inline-block
      height 5px
      width 5px
    .l2
      border-radius 10px
      display inline-block
      height 5px
  .appear
    opacity 0
    animation appear-out 0.6s ease forwards
  &.active
    .appear
      animation appear 1.3s ease forwards 0.4s
    .divisor
      .l2
        animation lineGrowFX 1s ease forwards 0.8s

main
  #inicio
    align-content center
    align-items center
    background url('../images/top-bg.jpg') fixed no-repeat 0 0
    background-size 100% 100%
    color contrast
    display flex
    justify-content center
    .container
      display flex
      flex-direction column
      height calc(100vh - 100px)
      justify-content space-around
    h2
      font-size 72px
      font-weight normal
    .divisor
      .l1
        background-color color-4
      .l2
        background-color color-2
    p
      margin-top 30px
      margin-bottom 30px
      max-width 50%
    .btn
      padding 15px 17px 15px 17px
      margin-top 50px
      font-weight bold

@media only screen and (max-width 1000px)
  section
    height 100vh
    padding-top 60px

  header
    display flex
    justify-content center
    #top
      position fixed
      max-height auto
      max-width 100%
      padding 5px 0px 0px 0px
      background-color color-3
      img
        float left
        margin-left 20px
        max-width 100px
        margin-bottom -20px
        margin-top 5px
      #menu-icon
        padding 5px
        width 40px
        height 40px
        border 2px solid contrast
        margin-top 5px
        float right
        margin-right 20px
        margin-bottom -20px
        border-radius 10px
        &.active
          background-color contrast
          .line
            background-color color-3
        .line
          width 100%
          height 2px
          background-color contrast
          display block
          margin-top 20%
      nav
        padding 10px
        margin-top 20px
        display none
        &.active
          display block
        ul
          display flex
          list-style none
          justify-content space-between
          flex-direction column
          padding-top 20px
          li
            padding 5px;
            margin 10px;
            text-align center
  main
    #inicio
      background-size auto auto
      p
        max-width 100%
      #senai-logo
        margin-top 20px
        max-height 40px
    #nossaMissao
    #missao
      padding-top 10px
    #fale-conosco
      form
        display flex
        width 90%
        flex-direction column

//  BOTÕES
.btn
  padding 10px 30px 10px 30px
  border-radius 25px
  font-weight bold
  width auto
  font-size 16px
  transition all 1s
  outline none
  border none

.btn-contrast
  border 2px solid contrast
  color contrast
  &:hover
    background-color transparent
    color color-2

.btn-contrast-full
  border 2px solid contrast
  background-color transparent
  color contrast
  &:hover
    background-color contrast
    color color-2

.btn-blue
  background-color color-1
  color contrast
  &:hover
    background-color color-4

.title
  margin-top 3%
  &:before
    content "// "

.circle
  border-radius 50%
  z-index -1
  background-color transparent

#equipe
  background-image url('../images/equipe/background.png')
  background-repeat no-repeat
  background-size cover
  background-color contrast
  .title
    color contrastInside
    &:before
      color color-4

#nossaMissao
  background-image url('../images/missao/background.png')
  background-repeat no-repeat
  background-size cover
  background-color contrast
  #missao
    display flex
    flex-direction row
    align-content center
    padding-top 80px
    justify-content center
    #missaoL
      width 45%1
      img
        width 80%
    #missaoR
      width 55%
      display block !important
      h1
        color color-1
        font-size 65px
        margin-bottom 5%
      .divisor
        margin-bottom 7%
        .l1
          background-color color-4
        .l2
          background-color color-3
      h3
        color color-4
        font-size 24px
        margin-bottom 3%
      p
        color color-6
        font-size 20px
      .passCircles
        width 20%
        margin-top 25%
        .passCircle
          background-color color-5
          &:hover
            background-color contrastInside
          &:active
            border 2px solid contrastInside
            background-color transparent

.passCircles
  display flex
  height 15px
  flex-direction row
  justify-content space-between
  float right
  position relative
  .passCircle
    width 10px
    height 10px
    border-radius 50%

#passArrowMissao
  height 50px
  display flex
  align-items center
  &:hover
    border none
  img
    width 3%
    margin-left 2%
    &:hover
      width 4%
    &:nth-child(2)
      margin-left 5%
// Curso
#curso
  background-color contrastInside
  display flex
  .title
    color contrast
    margin-bottom 5%
    &:before
      color color-2
  .passCircles
    width: 7%;
    position absolute
    bottom 0
    margin-bottom 2%
    .passCircle
      background-color contrast
      &:hover
        background-color color-4
      &:active
        border 2px solid color-4
        background-color transparent
  .content
    display flex
    align-items baseline
    justify-content center
    width 80%
    a
      justify-content flex-end
      display flex
      flex-direction column
      color contrast
      font-weight bolder

      &:hover
        padding 0
        border none
        color color-2
      &:hover img
        width 25px
        height 35px
      &:nth-child(1)
        img
          align-self: flex-end;
      img
        margin-bottom 3%
        width 20px
        height 30px
    #passos
      width 75%
      display flex
      justify-content space-around
      .passo
        width 40%
        display flex
        justify-content center
        flex-direction column
        align-items center
        img
          width 70%
          margin-bottom 10%
        h2
          font-size 24px
          font-weight bolder
          color contrast
        p
          text-align justify
          font-size 20px
          color contrast
          font-weight normal

.viewing-page-2, .viewing-page-3, .viewing-page-4, .viewing-page-5, .viewing-page-6, .viewing-page-7, .viewing-page-8
  #top
    background-color color-3
    padding 5px 0px 0px 0px
    .btn-contrast-full
      &:hover
        color color-3

//edit arrows
.arrowLeft
  transform rotate(90deg)

.arrowRight
  transform rotate(-90deg)

.arrow
  transition all .4s
  cursor pointer

//Inscricoes
#inscricoes
  .title
    color contrastInside
    &:before
      color color-4
  .content
    display flex
    align-items center
    flex-direction column
    width 60%
    height 70%
    h3
      font-size 65px
    p
      font-size 26px
    .col
      .btn
        background-color transparent
        color color-2
        border 1px solid color-2
        font-size 25px
        font-weight bold

textarea
  border-radius 5px
  border none
  outline none
  font-size 18px
  padding 20px

input[type ='text']
  background-color transparent
  border none
  outline none
  color contrast
  height 40px
  padding-left 1%
  font-size 18px
  border-bottom 2px solid contrast
  &::placeholder
    color contrast
    &:before
      content "//"

#fale-conosco
  background-color color-3
  .title
    color contrast
    margin-bottom 5%
    &:before
      color color-1
  form
    display flex
    width 50%
    flex-direction column
    input
      margin-bottom 5%
    .btn
      padding 15px 30px 15px 30px
      align-self center
      top -15px
      position relative

#grade
  background-image url('../images/grade/background.png')
  background-repeat no-repeat
  background-size cover
  background-color contrast
  h2
    margin-top 3%
    font-weight normal
    color contrastInside
  .content
    height 85%
    width 50%
    display flex
    align-items center
    justify-content space-between
    .grades
      cursor pointer
      width 90%
      text-align center
      &:hover
        img
          width 90%
      img
        margin-bottom 5%
        transition all 1s
        width 70%

