@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/Proxima Nova Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/Proxima Nova Light.otf");
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  font-family: "Proxima Nova";
}
section {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
a {
  text-decoration: none;
}
.appear {
  animation: appear 1.5s ease forwards;
}
header {
  display: flex;
  justify-content: center;
}
header #top {
  position: fixed;
  padding: 20px;
  padding-top: 40px;
  z-index: 20;
}
header #top nav {
  padding: 20px;
}
header #top nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
<<<<<<< HEAD
header #top nav ul li a {
  transition: border 1s color 1s;
=======
header #top nav ul li a:hover {
  font-weight: bold;
>>>>>>> 75edd5c2b59c50893053736aca7084cd1c394a83
}
.divisor {
  display: block;
}
.divisor .l1 {
  border-radius: 5px;
  display: inline-block;
  height: 5px;
  width: 5px;
}
.divisor .l2 {
  animation: lineGrowFX 1s ease forwards 0.4s;
  border-radius: 10px;
  display: inline-block;
  height: 5px;
}
main #inicio {
  align-content: center;
  align-items: center;
  background: url("../images/top-bg.jpg") fixed no-repeat 0 0;
  background-size: 100% 100%;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
}
main #inicio .container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  justify-content: space-around;
}
main #inicio h2 {
  font-size: 72px;
  font-weight: normal;
}
main #inicio .divisor .l1 {
  background-color: #2acfc1;
}
main #inicio .divisor .l2 {
  background-color: #d8157d;
}
main #inicio p {
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 50%;
}
<<<<<<< HEAD
main #inicio .btn {
  padding: 15px 17px 15px 17px;
  margin-top: 50px;
  font-weight: bold;
}
=======
>>>>>>> 75edd5c2b59c50893053736aca7084cd1c394a83
@media only screen and (max-width: 1000px) {
  section {
    height: calc(100vh - 800px);
  }
  header {
    display: flex;
    justify-content: center;
  }
  header #top {
    position: fixed;
    max-height: auto;
    max-width: 100%;
    padding: 5px 0px 0px 0px;
    background-color: rgba(16,29,72,0.8);
  }
  header #top img {
    float: left;
    margin-left: 20px;
    max-width: 100px;
    margin-bottom: -20px;
    margin-top: 5px;
  }
  header #top #menu-icon {
    padding: 5px;
    width: 40px;
    height: 40px;
    border: 2px solid #f5f5f5;
    margin-top: 5px;
    float: right;
    margin-right: 20px;
    margin-bottom: -20px;
    border-radius: 10px;
  }
  header #top #menu-icon .line {
    width: 100%;
    height: 2px;
    background-color: #f5f5f5;
    display: block;
    margin-top: 20%;
  }
  header #top #menu-icon .line:active {
    background-color: #f5f5f5;
  }
  header #top #menu-icon .line:active .line {
    background-color: #101d48;
  }
  header #top nav {
    padding: 10px;
    margin-top: 20px;
  }
  header #top nav display none:active {
    display: block;
  }
  header #top nav display none:active ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 20px;
  }
  header #top nav display none:active ul li {
    padding: 5px;
    margin: 10px;
    text-align: center;
  }
  main #inicio {
    background-size: auto auto;
  }
  main #inicio p {
    max-width: 100%;
  }
  main #inicio #senai-logo {
    margin-top: 20px;
    max-height: 40px;
  }
}
.btn {
  padding: 10px 20px 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 16px;
  transition: all 1s;
}
.btn-contrast {
  border: 2px solid #f5f5f5;
  color: #f5f5f5;
}
.btn-contrast:hover {
<<<<<<< HEAD
  border: 2px solid #d8157d;
  background-color: transparent;
=======
  background-color: #fff;
  color: #d8157d;
}
.btn-contrast-full {
  border: 2px solid #fff;
  background-color: #fff;
>>>>>>> 75edd5c2b59c50893053736aca7084cd1c394a83
  color: #d8157d;
}
.btn-contrast-full {
  border: 2px solid #f5f5f5 !important;
  background-color: transparent;
  color: #f5f5f5;
}
.btn-contrast-full:hover {
  background-color: #f5f5f5;
  color: #d8157d !important;
  border: none;
}
.title {
  margin-top: 5%;
}
.title:before {
  content: "//";
}
.circle {
  border-radius: 50%;
  z-index: -1;
  background-color: transparent;
}
#equipe {
  overflow: hidden;
}
#equipe .circle {
  border: 3px solid #2acfc1;
  width: 65%;
  position: absolute;
  height: 120vh;
  top: -10vh;
  display: flex;
  justify-content: center;
}
#circleGround {
  border-radius: 50%;
  height: 140vh;
  position: absolute;
  width: 70%;
  border: solid 1px #2acfc1;
  z-index: -1;
  left: -10vw;
  top: -20vh;
  opacity: 0.5;
}
#missao {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding-top: 0;
  justify-content: center;
}
<<<<<<< HEAD
#missao section {
  width: 35%;
}
#missao #missaoL img {
  width: 100%;
}
#missao #missaoR {
  display: block !important;
}
#missao #missaoR h1 {
  color: #353535;
  font-size: 65px;
  margin-bottom: 5%;
}
#missao #missaoR .divisor {
  margin-bottom: 7%;
}
#missao #missaoR .divisor .l1 {
  background-color: #2acfc1;
}
#missao #missaoR .divisor .l2 {
  background-color: #dd5632;
}
#missao #missaoR h3 {
  color: #2acfc1;
  font-size: 24px;
  margin-bottom: 3%;
}
#missao #missaoR p {
  color: #7f7f7f;
  font-size: 20px;
}
#missao #missaoR .passCircles {
  width: 20%;
  margin-top: 25%;
}
#missao #missaoR .passCircles .passCircle {
  background-color: #e2e2e2;
}
#missao #missaoR .passCircles .passCircle:hover {
  background-color: #743ad0;
}
#missao #missaoR .passCircles .passCircle:active {
  border: 2px solid #743ad0;
  background-color: transparent;
}
.passCircles {
  display: flex;
  height: 15px;
  flex-direction: row;
  justify-content: space-between;
  float: right;
  position: relative;
}
.passCircles .passCircle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
#passMissao {
  display: flex;
  align-items: baseline;
  height: 50px;
}
#passMissao img {
  width: 3%;
  cursor: pointer;
  margin-left: 2%;
}
#passMissao img:hover {
  width: 4%;
}
#passMissao img:nth-child(2) {
  margin-left: 5%;
}
#curso {
  background-color: #743ad0;
}
#curso .title {
  color: #f5f5f5;
}
#curso .title:before {
  color: #d8157d;
}
#curso .passCircles {
  width: 7%;
}
#curso .passCircles .passCircle {
  background-color: #f5f5f5;
}
#curso .passCircles .passCircle:hover {
  background-color: #2acfc1;
}
#curso .passCircles .passCircle:active {
  border: 2px solid #2acfc1;
  background-color: transparent;
}
#curso a {
  display: flex;
  flex-direction: column;
}
#curso a:nth-child(1) {
  background-color: #7f7f7f;
}
#curso a img {
  margin-bottom: 3%;
  width: 20px;
  height: 30px;
}
.viewing-page-2 a {
  color: #d8157d;
}
.viewing-page-2 a:hover {
  border-bottom: 3px solid #2acfc1;
}
.viewing-page-2 .btn-contrast {
  border: 2px solid #d8157d;
}
.viewing-page-2 .btn-contrast:hover {
  border: 2px solid #2acfc1;
  color: #2acfc1;
}
.viewing-page-1 a {
  color: #f5f5f5;
  text-decoration: none;
}
.viewing-page-1 a:hover {
  padding-bottom: 5%;
  border-bottom: 3px solid #d8157d;
}
.arrowLeft {
  transform: rotate(90deg);
}
.arrowRight {
  transform: rotate(-90deg);
}
=======
#curso {
  background-color: #2acfc1;
}
>>>>>>> 75edd5c2b59c50893053736aca7084cd1c394a83
@-moz-keyframes lineGrowFX {
  from {
    width: 0px;
  }
  to {
    width: 100px;
  }
}
@-webkit-keyframes lineGrowFX {
  from {
    width: 0px;
  }
  to {
    width: 100px;
  }
}
@-o-keyframes lineGrowFX {
  from {
    width: 0px;
  }
  to {
    width: 100px;
  }
}
@keyframes lineGrowFX {
  from {
    width: 0px;
  }
  to {
    width: 100px;
  }
}
@-moz-keyframes appear {
  from {
    margin-top: 20px;
    opacity: 0;
  }
  to {
    margin-top: 0px;
    opacity: 1;
  }
}
@-webkit-keyframes appear {
  from {
    margin-top: 20px;
    opacity: 0;
  }
  to {
    margin-top: 0px;
    opacity: 1;
  }
}
@-o-keyframes appear {
  from {
    margin-top: 20px;
    opacity: 0;
  }
  to {
    margin-top: 0px;
    opacity: 1;
  }
}
@keyframes appear {
  from {
    margin-top: 20px;
    opacity: 0;
  }
  to {
    margin-top: 0px;
    opacity: 1;
  }
}
