@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/Proxima Nova Extrabold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/Proxima Nova Light.otf");
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  font-family: "Proxima Nova";
}
section {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: block;
}
a {
  text-decoration: none;
  color: #fff;
}
header {
  display: flex;
  justify-content: center;
}
header #top {
  position: fixed;
  padding: 20px;
}
header #top nav {
  padding: 20px;
}
header #top nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
header #top nav ul li a:hover {
  border-bottom: 2px solid #fff;
}
header #top nav ul li .btn-contrast:hover {
  color: contrastInsident;
}
main #inicio {
  background: url("../images/top-bg.png") fixed no-repeat 0 0;
  background-size: 100% 100%;
}
@media only screen and (max-width: 1000px) {
  header {
    display: flex;
    justify-content: center;
  }
  header #top {
    position: fixed;
    padding: 20px;
  }
  header #top nav {
    padding: 20px;
  }
  header #top nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-direction: column;
  }
  header #top nav ul li {
    padding: 5px;
    margin: 5px;
    text-align: center;
  }
}
.btn {
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  transition: all 0.6s ease;
}
.btn-contrast {
  border: 2px solid #fff;
  color: #fff;
}
.btn-contrast:hover {
  background-color: #fff;
  color: #743ad0;
}
.btn-contrast-full {
  border: 2px solid #fff;
  background-color: #fff;
  color: #743ad0;
}
.btn-contrast-full:hover {
  background-color: transparent;
}
