@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/Proxima Nova Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/Proxima Nova Extrabold.ttf");
  font-weight: bolder;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/Proxima Nova Light.otf");
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  font-family: "Proxima Nova";
}
section {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
a {
  text-decoration: none;
}
header {
  display: flex;
  justify-content: center;
}
header #top {
  position: fixed;
  padding: 20px;
  padding-top: 40px;
  z-index: 20;
  transition: all 1s ease;
}
header #top .container {
  padding: 2px;
}
header #top nav {
  padding: 20px;
}
header #top nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
header #top nav ul li:hover a {
  font-weight: bold;
}
header #top nav ul li a {
  color: #f5f5f5;
  transition: border 1s color 1s;
}
section .divisor {
  display: block;
}
section .divisor .l1 {
  border-radius: 5px;
  display: inline-block;
  height: 5px;
  width: 5px;
}
section .divisor .l2 {
  border-radius: 10px;
  display: inline-block;
  height: 5px;
}
section .appear {
  opacity: 0;
  animation: appear-out 0.6s ease forwards;
}
section.active .appear {
  animation: appear 1.3s ease forwards 0.4s;
}
section.active .divisor .l2 {
  animation: lineGrowFX 1s ease forwards 0.8s;
}
main #inicio {
  align-content: center;
  align-items: center;
  background: url("../images/top-bg.jpg") fixed no-repeat 0 0;
  background-size: 100% 100%;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
}
main #inicio .container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  justify-content: space-around;
}
main #inicio h2 {
  font-size: 72px;
  font-weight: normal;
}
main #inicio .divisor .l1 {
  background-color: #2acfc1;
}
main #inicio .divisor .l2 {
  background-color: #d8157d;
}
main #inicio p {
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 50%;
}
main #inicio .btn {
  padding: 15px 17px 15px 17px;
  margin-top: 50px;
  font-weight: bold;
}
@media only screen and (max-width: 1000px) {
  section {
    height: 100vh;
    padding-top: 60px;
  }
  header {
    display: flex;
    justify-content: center;
  }
  header #top {
    position: fixed;
    max-height: auto;
    max-width: 100%;
    padding: 5px 0px 0px 0px;
    background-color: #dd5632;
  }
  header #top img {
    float: left;
    margin-left: 20px;
    max-width: 100px;
    margin-bottom: -20px;
    margin-top: 5px;
  }
  header #top #menu-icon {
    padding: 5px;
    width: 40px;
    height: 40px;
    border: 2px solid #f5f5f5;
    margin-top: 5px;
    float: right;
    margin-right: 20px;
    margin-bottom: -20px;
    border-radius: 10px;
  }
  header #top #menu-icon.active {
    background-color: #f5f5f5;
  }
  header #top #menu-icon.active .line {
    background-color: #dd5632;
  }
  header #top #menu-icon .line {
    width: 100%;
    height: 2px;
    background-color: #f5f5f5;
    display: block;
    margin-top: 20%;
  }
  header #top nav {
    padding: 10px;
    margin-top: 20px;
    display: none;
  }
  header #top nav.active {
    display: block;
  }
  header #top nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 20px;
  }
  header #top nav ul li {
    padding: 5px;
    margin: 10px;
    text-align: center;
  }
  main #inicio {
    background-size: auto auto;
  }
  main #inicio p {
    max-width: 100%;
  }
  main #inicio #senai-logo {
    margin-top: 20px;
    max-height: 40px;
  }
  #nossaMissao,
  #missao {
    padding-top: 10px;
  }
}
.btn {
  padding: 10px 20px 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 16px;
  transition: all 1s;
}
.btn-contrast {
  border: 2px solid #f5f5f5;
  color: #f5f5f5;
}
.btn-contrast:hover {
  border: 2px solid #d8157d;
  background-color: transparent;
  color: #d8157d;
}
.btn-contrast-full {
  border: 2px solid #f5f5f5 !important;
  background-color: transparent;
  color: #f5f5f5;
}
.btn-contrast-full:hover {
  background-color: #f5f5f5;
  color: #d8157d !important;
  border: none;
}
.title {
  margin-top: 3%;
}
.title:before {
  content: "//";
}
.circle {
  border-radius: 50%;
  z-index: -1;
  background-color: transparent;
}
#equipe {
  overflow: hidden;
}
#equipe .circle {
  border: 3px solid #2acfc1;
  width: 65%;
  position: absolute;
  height: 120vh;
  top: -10vh;
  display: flex;
  justify-content: center;
}
#circleGround {
  border-radius: 50%;
  height: 140vh;
  position: absolute;
  width: 70%;
  border: solid 1px #2acfc1;
  z-index: -1;
  left: -10vw;
  top: -20vh;
  opacity: 0.5;
}
#nossaMissao #missao {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding-top: 80px;
  justify-content: center;
}
#nossaMissao #missao #missaoL {
  width: 45%;
}
#nossaMissao #missao #missaoL img {
  width: 80%;
}
#nossaMissao #missao #missaoR {
  width: 55%;
  display: block !important;
}
#nossaMissao #missao #missaoR h1 {
  color: #101d48;
  font-size: 65px;
  margin-bottom: 5%;
}
#nossaMissao #missao #missaoR .divisor {
  margin-bottom: 7%;
}
#nossaMissao #missao #missaoR .divisor .l1 {
  background-color: #2acfc1;
}
#nossaMissao #missao #missaoR .divisor .l2 {
  background-color: #dd5632;
}
#nossaMissao #missao #missaoR h3 {
  color: #2acfc1;
  font-size: 24px;
  margin-bottom: 3%;
}
#nossaMissao #missao #missaoR p {
  color: #7f7f7f;
  font-size: 20px;
}
#nossaMissao #missao #missaoR .passCircles {
  width: 20%;
  margin-top: 25%;
}
#nossaMissao #missao #missaoR .passCircles .passCircle {
  background-color: #e2e2e2;
}
#nossaMissao #missao #missaoR .passCircles .passCircle:hover {
  background-color: #743ad0;
}
#nossaMissao #missao #missaoR .passCircles .passCircle:active {
  border: 2px solid #743ad0;
  background-color: transparent;
}
.passCircles {
  display: flex;
  height: 15px;
  flex-direction: row;
  justify-content: space-between;
  float: right;
  position: relative;
}
.passCircles .passCircle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
#passArrowMissao {
  height: 50px;
  display: flex;
  align-items: center;
}
#passArrowMissao:hover {
  border: none;
}
#passArrowMissao img {
  width: 3%;
  margin-left: 2%;
}
#passArrowMissao img:hover {
  width: 4%;
}
#passArrowMissao img:nth-child(2) {
  margin-left: 5%;
}
#curso {
  background-color: #743ad0;
  display: flex;
}
#curso .title {
  color: #f5f5f5;
  margin-bottom: 5%;
}
#curso .title:before {
  color: #d8157d;
}
#curso .passCircles {
  width: 7%;
  position: absolute;
  bottom: 0;
  margin-bottom: 2%;
}
#curso .passCircles .passCircle {
  background-color: #f5f5f5;
}
#curso .passCircles .passCircle:hover {
  background-color: #2acfc1;
}
#curso .passCircles .passCircle:active {
  border: 2px solid #2acfc1;
  background-color: transparent;
}
#curso .content {
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 80%;
}
#curso .content a {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  color: #f5f5f5;
  font-weight: bolder;
}
#curso .content a:hover {
  padding: 0;
  border: none;
  color: #d8157d;
}
#curso .content a:hover img {
  width: 25px;
  height: 35px;
}
#curso .content a:nth-child(1) img {
  align-self: flex-end;
}
#curso .content a img {
  margin-bottom: 3%;
  width: 20px;
  height: 30px;
}
#curso .content #passos {
  width: 75%;
  display: flex;
  justify-content: space-around;
}
#curso .content #passos .passo {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#curso .content #passos .passo img {
  width: 70%;
  margin-bottom: 10%;
}
#curso .content #passos .passo h2 {
  font-size: 24px;
  font-weight: bolder;
  color: #f5f5f5;
}
#curso .content #passos .passo p {
  text-align: justify;
  font-size: 20px;
  color: #f5f5f5;
  font-weight: normal;
}
.viewing-page-2 #top,
.viewing-page-3 #top,
.viewing-page-4 #top,
.viewing-page-5 #top,
.viewing-page-6 #top,
.viewing-page-7 #top {
  background-color: #dd5632;
  padding: 5px 0px 0px 0px;
}
.viewing-page-2 .btn-contrast-full,
.viewing-page-3 .btn-contrast-full,
.viewing-page-4 .btn-contrast-full,
.viewing-page-5 .btn-contrast-full,
.viewing-page-6 .btn-contrast-full,
.viewing-page-7 .btn-contrast-full {
  border: 2px solid #f5f5f5 !important;
  background-color: transparent;
  color: #f5f5f5;
}
.viewing-page-2 .btn-contrast-full:hover,
.viewing-page-3 .btn-contrast-full:hover,
.viewing-page-4 .btn-contrast-full:hover,
.viewing-page-5 .btn-contrast-full:hover,
.viewing-page-6 .btn-contrast-full:hover,
.viewing-page-7 .btn-contrast-full:hover {
  background-color: #f5f5f5;
  color: #dd5632 !important;
  border: none;
}
.arrowLeft {
  transform: rotate(90deg);
}
.arrowRight {
  transform: rotate(-90deg);
}
.arrow {
  transition: all 0.4s;
  cursor: pointer;
}
#inscricoes .title {
  color: #743ad0;
}
#inscricoes .title:before {
  color: #2acfc1;
}
#inscricoes .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
  height: 70%;
}
#inscricoes .content h3 {
  font-size: 65px;
}
#inscricoes .content p {
  font-size: 26px;
}
#inscricoes .content .col .btn {
  background-color: transparent;
  color: #d8157d;
  border: 1px solid #d8157d;
  font-size: 25px;
  font-weight: bold;
}
@-moz-keyframes lineGrowFX {
  from {
    width: 0px;
  }
  to {
    width: 100px;
  }
}
@-webkit-keyframes lineGrowFX {
  from {
    width: 0px;
  }
  to {
    width: 100px;
  }
}
@-o-keyframes lineGrowFX {
  from {
    width: 0px;
  }
  to {
    width: 100px;
  }
}
@keyframes lineGrowFX {
  from {
    width: 0px;
  }
  to {
    width: 100px;
  }
}
@-moz-keyframes appear {
  from {
    margin-top: 20px;
    opacity: 0;
  }
  to {
    margin-top: 0px;
    opacity: 1;
  }
}
@-webkit-keyframes appear {
  from {
    margin-top: 20px;
    opacity: 0;
  }
  to {
    margin-top: 0px;
    opacity: 1;
  }
}
@-o-keyframes appear {
  from {
    margin-top: 20px;
    opacity: 0;
  }
  to {
    margin-top: 0px;
    opacity: 1;
  }
}
@keyframes appear {
  from {
    margin-top: 20px;
    opacity: 0;
  }
  to {
    margin-top: 0px;
    opacity: 1;
  }
}
@-moz-keyframes appear-out {
  from {
    margin-top: 0px;
    opacity: 1;
  }
  to {
    margin-top: 20px;
    opacity: 0;
  }
}
@-webkit-keyframes appear-out {
  from {
    margin-top: 0px;
    opacity: 1;
  }
  to {
    margin-top: 20px;
    opacity: 0;
  }
}
@-o-keyframes appear-out {
  from {
    margin-top: 0px;
    opacity: 1;
  }
  to {
    margin-top: 20px;
    opacity: 0;
  }
}
@keyframes appear-out {
  from {
    margin-top: 0px;
    opacity: 1;
  }
  to {
    margin-top: 20px;
    opacity: 0;
  }
}
